.chatbox {
  flex: 1;
  background-color: #82ccdd;
  overflow: hidden;
}

.chatbox-item{
  transition: top 1s opacity 1s display 1s width 1s height 1s;
}

.chatbox-item.left{
  text-align: left;
  margin-left: 24px;
}

.chatbox-item.right{
  text-align: right;
  margin-right: 24px;
  
}

.chatbox-item .avatar{
  display: inline-block;
}

.chatbox-item .msg {
  border-radius: 25px;
  background-color: #82ccdd;
  padding: 10px;
  width: max-content;
}