.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
<<<<<<< HEAD:NoBrain/src/Profile.css
  background-color: #eae0d6;
=======
  background-color: #fafafa;
>>>>>>> 4dd716d90f6c3958bd4ded103bd3b879413f1cfa:GGez/src/Profile.css
  padding: 0;
  margin: 0;
}