.App {
  background-color: #ffffff;
  width: 720px;
  height: 100%;;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  background-color: #e9e9e9;
}

.userlist {
  background-color: #0077ff;
  width: 720px;
  height: 10%;;
  margin: auto;
}

.chat {
  background-color: #d0e6ff;
  width: 720px;
  height: 80%;;
  margin: auto;
}

.inputbox {
  background-color: #647a92;
  width: 720px;
  height: 10%;;
  margin: auto;
}



.App a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 40px;
}

.App a:hover {
  background-color: #ddd;
  color: black;
}

.App a.active {
  background-color: #2196F3;
  color: white;
}

.App text {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 40px;
}

.App input[type=text] {
  float: left;
  padding: 14px;
  width: 70%;
  margin-top: 24px;
  margin-left: 16px;
  border: none;
  font-size: 14px;
}

.App p {
  float: left;
  display: block;
  color: rgb(124, 124, 124);
  text-decoration: none;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 40px;
}

.time-right {
  float: left;
  display: block;
  text-decoration: none;
  font-size: 14px;
  margin-top: 30px;
  margin-right: 40px;
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  display: block;
  text-decoration: none;
  font-size: 14px;
  margin-top: 30px;
  margin-right: 40px;
  float: left;
  color: #999;
}

@media screen and (max-width: 600px) {
  .App a, .App input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  
  .App input[type=text] {
    border: 1px solid #ccc;  
  }
}