.chat {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  flex:4;
}



.inputbox {
  background-color: rgb(218, 62, 0);
  display: flex;
  height: 60px;
}

.inputbox .label1 {
  font-size: 1.5em;
  text-align: right;
}

.inputbox .text {
  font-size: 1em;
  padding-left: 8px;
  padding-right: 8px;
  flex: 1;
}

.inputbox .button {
  font-size: 1em;
  min-width: 40px;
}