body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}


.left {
  flex: 15%;
  padding: 15px 0;
  
}

.left h2 {
  padding-left: 8px;
}
.right {
  flex: 85%;
  padding: 15px;
  background-color: aquamarine;
}


#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;

}


#myFriends {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

#myFriends li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block;
  border: 1px solid #ddd;
}

#myFriends li a:hover {
  background-color: #eee;
}