.column75 {
    float: left;
    width: 75%;
    background-color: rgb(255, 215, 166);
  }
.column25 {
    float: left;
    width: 25%;

  }
  /* Clear floats after the columns */
.row {
  width: 100%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.post {
  width: 90%;
  margin: 10px;
  background-color: blanchedalmond;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}
.Image {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  height: 50%;
  width: 50%;

}
.Avatar {
  height: 150px;
  width: 150px;
}
.a {
  margin: 90px;
}
.b {
  margin-left: 10px;
}
.postName {
  margin-left: 40px;
}
.title {
  padding: 20px;
}