.column65 {
    float: left;
    width: 65%;
    background-color: rgb(255, 215, 166);
  }
.column35 {
    float: left;
    
    width: 35%;
    background-color: rgb(212, 117, 0);

  }
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.post {
  width: 90%;
  margin: 10px;
  background-color: blanchedalmond;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}
.Image {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  height: 50%;
  width: 50%;

}
.a {
  margin: 90px;
}
.b {
  margin-left: 10px;
}
.title {
  margin-left: 40px;
}
