.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #ffdebf;
  padding: 0;
  margin: 0;
}
.Profile a{
  margin: 25px;
}