.App {
  background-color: #ffffff;
  width: 30%;
  height: 100%;;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.App .content {
  flex: 1;
}

.userlist {
  flex: 1;
  background-color: #000000;
  color: white;
  text-align: center;
  font-size: 50px;
}

.friendlist {
  flex: .1;
  background-color: #000000;
  color: white;
  text-align: center;
  font-size: 50px;
}

.myProfile {
  flex: 1;
  background-color: #000000;
  color: white;
  text-align: center;
  font-size: 50px;
}