.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 1px gray;
  overflow: hidden;
}

.avatar.small {
  width: 40px;
  height: 40px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ProfileAvatar{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: groove 10px rgb(51, 255, 0);
  overflow: hidden;
  position: relative;
}

.ProfileAvatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}