.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 1px gray;
  overflow: hidden;
  margin-left: 5px;
}

.avatar.small {
  width: 40px;
  height: 40px;
}

.avatarSelf {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: groove 10px rgb(51, 255, 0);
  overflow: hidden;
}

.avatarSelf img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}