.chatbox-item-text {
  background-color: rgb(168, 253, 225);
  width: fit-content;
  height: fit-content;
  padding: 8px;
  display: inline-block;
  margin-left: 10px;
  border-radius: 25px;
}
.right .chatbox-item-text
{
  color: rgb(17, 0, 255);
}

.chatbox-item.right{
  text-align: right;
  margin-right: 24px;
}

.chatbox-item.right .avatar{
  display: none;
}

.chatbox-item .avatar{
  display: inline-block;
}

.chatbox-item-avatar-text-line {
  display: flex;
  align-items: center;
}

.chatbox-item
{
  margin-top: 10px;
}