.tabbar-left {
  display: grid;
  grid-template-rows: repeat(3,10%);
  grid-template-columns: 40% 60%;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2cbb84;
  flex: 2 ;
}

.tabbar-button{
  display: flex;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 1s;
  margin-left: 10px;
}

.t_list{
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  margin-left: 5px;
  
}

.t_list.img_fri{
  background-image: url('../Image/Friend.png');
}
.t_list.img_chat{
  background-image: url('../Image/ChatRoom.png');
}
.t_list.img_pro{
  background-image: url('../Image/Profile.png');
}

.userlist-button:hover{
  background-color: #0d7e53;
}

@media screen and (max-width: 768px) {
  .tabbar-left {
    display: none;
  }
}