.chatbox {
    flex: 1;
    background-color: rgb(44, 44, 44);
    overflow: auto;
  }
  
  .chatbox-item{
    transition: top 1s opacity 1s display 1s width 1s height 1s;
  }
  
  .chatbox-item.left{
    text-align: left;
    margin-left: 24px;
  }
  
  .chatbox-item.right{
    text-align: right;
    margin-right: 24px;
  }

  .chatbox-item-uid{
    font-style: oblique;
    font-size: large;
    color: aliceblue;
    margin: 10px;
  }

  .chatbox-item .avatar{
    display: inline-block;
  }

  .chatbox-item-text {
    text-transform: capitalize;
    background-color: rgb(255, 219, 121);
    width: fit-content;
    height: fit-content;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    display: inline-block;
  }

  