.App {
  background-color: #feefec;
  width: 100%;
  height: 100%;;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex: auto;
}

.App .content {
<<<<<<< HEAD:papering/App/src/css/App.css
=======
  flex: auto; 
  width: auto;
  height: auto;
  
}


.userlist {
>>>>>>> bf2ee1319d8815555e2c589ac0e4fd385254ea56:noobcode/src/css/App.css
  flex: 1;
  top: 0px;
  bottom: 77px;
  position: absolute;
  width: 100%;
  overflow: hidden;
  display: flex;
}

