.chatbox {
  flex: 1;
  background-color: #feefec;
  overflow: auto;
}

.chatbox-item{
  transition: top 1s opacity 1s display 1s width 1s height 1s;
}

.chatbox-item.left{
  text-align: left;
  margin-left: 20px;
}

.chatbox-item.right{
  text-align: right;
  margin-right: 20px;
}

.chatbox-item .avatar{
  display: inline-block;
}

.chatbox-item .user{
  display: flex;
  flex-direction: row;
}