.inputbox {
  background-color: #f5cec7;
  display: flex;
  height: 60px;
  padding-bottom: 10px;
}

.inputbox .label1 {
  font-size: 1.5em;
  text-align: right;
}

.inputbox .text {
  height: 40px;
  font-size: 20px;
  padding: 0px 20px;
  flex: 1;
  border-radius: 25px;
  border: 0px;
  outline-width: 0px;
  margin: auto 10px;
  color: #f5cec7;
}

.inputbox .button {
  color: #e89b99;
  font-size: 1.5em;
  font-weight: 800;
  min-width: 40px;
  background-color: #f5cec7;
  border: none;
  transition: 0.25s;
  padding-right: 20px;
}

.inputbox .button:hover{
  color: #ffffff;
}