.tabbar {
  height: 60px;
  background-color: #f5cec7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.tabbar .tabbutton {
  display: inline-block;
  font-family: sans-serif;
  text-align: center;
  font-size: 1.5em;
  color: #c15853;
  margin: 0.5px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 1s;
  transition: color 0.5s;
}

.tabbar .tabbutton:hover {
  color: #ffffff;
}

.tabbar.stick-bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.tabbar.stick-top {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.tabbar.stick-left {
  position: absolute;
  left: 0px;
  height: 100%;
  flex-direction: column;
}

.tabbar.stick-right {
  position: absolute;
  right: 0px;
  height: 100%;
  flex-direction: column;
}

.tabbar .button{
  width: 60px;
  margin: auto;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s;
}

.tabbar .button:hover{
  background-color: #c15853;
}