div {
    background-color: rgb(231, 215, 191);
    width: 400;
    height: 542;;
}

.text{
    margin: 8px;
    font-size: 50px;
    font-weight: bold;
    color: black;
    position:absolute;
    left:45%;
    top:50%;
}

.image{
    position: absolute;
    left:35%;
    top:40%;
}

@media screen and (max-width: 400px) {
  .text{
    font-size: 30px;
    left:45%;
  }
  .image{
    left:80px;
    width:100px;
    height:100px;
    top:45%;
  }
}