.chat {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex:1;
}



.inputbox {
  background-color: gray;
  display: flex;
  height: 40px;
}

.inputbox .label1 {
  font-size: 1.5em;
  text-align: right;
}

/* Input Text in Chat  */
.inputbox .text {
  margin: 3px;
  font-size: 1em;
  padding-left: 10px;
  padding-right: 10px;
  flex: 1;
  border-radius: 50px;
}

/* ปุ่ม Send หน้าแชท */
.inputbox .button {
  font-size: 1em;
  min-width: 40px;
}

.drawer {
  margin: auto;
  left: 50px;
  right: 50px;
  height: 300px;
  position: absolute;
  bottom: 0px;
  background-color: rgb(174, 49, 237);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.drawer.hide{
  display: none;
}