.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
<<<<<<< HEAD:PEPO/src/Profile.css
  background-color: #ecb9b9;
=======
  background-color: #cfa463;
>>>>>>> 342f6ac3e108d2558f4593f514c956ec41342989:lek mai pak/code/src/Profile.css
  padding: 0;
  margin: 0;
}
