.label{
    width:100%;
    color: aliceblue;
    background-color:  #b08051;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.label.head{
  font-size: 3em;
height: 10%;
position: fixed;
top: 0;
left: 0;
right: 0;

}

.chatbody{
    height: 15%;
    width:100%;
    background-color: #d9b490;
    position: absolute;
    top:10%
}
.chatbody.cont{
    padding: 0;
     font-size: 1.5em;
    
    
}
.chatboxcont{
  position: relative;
}

.chatbox{
    height: 50px;
    width: 75%;
    color: #000000;
    font-size: 1.5em;
    font-family: "Kanit", sans-serif;
    background-color:  #eeeee4;
    position: absolute;
    left: 11%;
    margin: 20px;
    
}
.button{
  background-color: #b08051;
  border: none;
  border-radius: 4px;
  font-size: 1.5em;
  text-align: center;
  color: #eeeee4;
  position: absolute;
  height: 60px;
    width: 10%;
    right: 0;
    margin: 20px;

}

.button.plus{
    left: 0;
}

.button:hover {
  background-color: #d9b490;
  color: white;
  cursor: pointer;
}

.chatboxbg{
  height: 10%;
    width: 100%;
    color: #000000;
    background-color:  #eeeee4;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

}

.text{
  font-size: 3em;
  letter-spacing: 5px;
}