.App {
  background-color: White;
  width: 100%;
  height: 100%;;
  margin: auto;
}

.App .content {
  display: flex;
  height: 100vh;
}

.friend-list{
  margin-right: 10px;
}

.userlist {
  margin-bottom: 10px;
  flex: 1;
  background-color: #4D4D4D;
}

.tabbar{
  margin-left: 10px;
}

