.chatbox {
  flex: 1;
  background-color: #fce9e9;
  overflow: auto;
  scrollbar-width: none;
}

.chatbox::-webkit-scrollbar {
  display: none;
}

.chatbox-name-text{
  padding-bottom: 10px;
}

.chatbox-item{
  transition: top 1s opacity 1s display 1s width 1s height 1s;
}


.chatbox-item-text{
  margin: 5px 0;
  padding: 5px 20px;
  border-radius: 15px;
  background-color: white;

}

.chatbox-item.left{
  
  padding: 20px;
  text-align: left;
  background-color: #b5a5c0;
  margin: 20px;
  border-radius: 20px;
}

.chatbox-item.right{
  
  padding: 20px;
  background-color: #f3aaa9;
  text-align: right;
  margin: 20px;
  border-radius: 20px;
}

.chatbox-item .avatar{
  display: inline-block;
}

@media screen and (max-width: 480px) {
}


