.friend-list-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: rgb(85, 136, 85);
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  flex: auto;
  margin: auto;
  width: 50%;
}
.center {
  position: relative;
  top: 70px;
  width: 100%;
  height: 100%;
  
}
.video-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  width: 40%;
}