.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 5px rgb(255, 255, 255);
  overflow: hidden;
}

.avatar.small {
  width: 40px;
  height: 40px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}