.chatbox {
  flex: 1;
  background-color: rgb(253, 197, 192);
  overflow: auto;
}

.chatbox-item{
  transition: top 1s opacity 1s display 1s width 1s height 1s;
}

.chatbox-item.left{
  text-align: right;
  margin-left: 24px;
}

.chatbox-item.right{
  text-align: left;
  margin-right: 24px;
}

.chatbox-item .avatar{
  display: inline-block;
}
