.SearchBox{
    height: 5%;
    width: auto;
    background-image: url("../../public/Search_Box_Cover.png");
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-position: center;
}

.SearchBox .BGM{
    height: 100%;
    width: 100%;
    background-image: url("../../public/Search_Icon.png");
    background-repeat: no-repeat;
    background-size: 3% 80%;
    background-position: 13% 40%;
}