.chat {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  flex:4;
}

.inputbox {
  background-color: #F79356;
  display: flex;
  height: 75px;
  color: white;
}

.inputbox .label1 {
  font-size: 1.5em;
  text-align: right;
}

.inputbox .text {
  background-color: #F9D1A2;
  border-radius: 50px / 50px ;
  font-size: 1em;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  flex: 1;
}

.inputbox .button {
  background-color: #F79356;
  border-radius: 50% ;
  font-size: 1em;
  min-width: 55px;
  margin: 10px;
  color: white;
}