.chat {
  position: relative;
<<<<<<< HEAD
<<<<<<<< HEAD:HungryGuys/src/PrivateChat.css
  width: 100%;
========
>>>>>>>> a0bae496c89571d08ceb4c7ed326ba43fe1c600e:ONM(One Night Miracle)/src/Chat.css
=======
  width: 100%;
>>>>>>> a0bae496c89571d08ceb4c7ed326ba43fe1c600e
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD

<<<<<<<< HEAD:HungryGuys/src/PrivateChat.css
.chatbox {
  flex: 12;
  background-color: silver;
========
  flex:4;
>>>>>>>> a0bae496c89571d08ceb4c7ed326ba43fe1c600e:ONM(One Night Miracle)/src/Chat.css
}



.inputbox {
<<<<<<<< HEAD:HungryGuys/src/PrivateChat.css
  flex: 1;
  background-color: gray;
========
  background-color: #b764e0;
>>>>>>>> a0bae496c89571d08ceb4c7ed326ba43fe1c600e:ONM(One Night Miracle)/src/Chat.css
  display: flex;
  height: 50px;
=======
}

.chatbox {
  flex: 15;
  background-color: silver;
}

.inputbox {
  flex: 1;
  background-color: gray;
  display: flex;
>>>>>>> a0bae496c89571d08ceb4c7ed326ba43fe1c600e
}

.inputbox .label1 {
  font-size: 1.5em;
<<<<<<< HEAD
<<<<<<<< HEAD:HungryGuys/src/PrivateChat.css
========
  text-align: right;
}

.inputbox .inputname {
  font-family: 'Helvetica';
  font-size: 1.5em;
>>>>>>>> a0bae496c89571d08ceb4c7ed326ba43fe1c600e:ONM(One Night Miracle)/src/Chat.css
=======
>>>>>>> a0bae496c89571d08ceb4c7ed326ba43fe1c600e
  text-align: right;
}

.inputbox .text {
  font-size: 1em;
  padding-left: 8px;
  padding-right: 8px;
  flex: 1;
}

.inputbox .button {
  font-size: 1em;
  min-width: 40px;
<<<<<<< HEAD
<<<<<<<< HEAD:HungryGuys/src/PrivateChat.css
========
}

.inputbox .input-textboxt-align{
  background: #fff;
  width: 340px;
  height: 50;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
>>>>>>>> a0bae496c89571d08ceb4c7ed326ba43fe1c600e:ONM(One Night Miracle)/src/Chat.css
=======
>>>>>>> a0bae496c89571d08ceb4c7ed326ba43fe1c600e
}