.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #1E4E8A;
  padding: 0;
  margin: 0;
}

.tabName {
  background-color: #1E4E8A;
  height: 25px;
  border-radius: 10px 10px;
  font-size: 1.25em;
  color: white;
  padding: 2.5px;
  text-align: center;
  margin: 10px;
  border: solid 2.5px #1E4E8A;
}