.Icon {
    height: 50%;
    width: 50%;
}
.Post {
    width: 70%;
}

.inputGp{
    margin: 10px;
    margin-left: 2%;
    border-radius: 50px;
}
.cpContainer {
    width: 90%;
    padding: 10px;
    margin: 10px;
    background-color: blanchedalmond;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

.Image {
    margin: 10px;
    margin-left: 5%;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
}
