.Background {
    background-color: #c9c9c9;
    width: 100%;
    height: auto;;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.Avatar_Layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 30px solid #c9c9c9;
    padding: 10px;
    align-items: center;
}
.Border {
    margin: auto;
    border: 16.5px solid #c9c9c9;
    padding: 10px;
}


.Title {
    background-color: #2b2b2b;
    color: rgb(248, 50, 50);
    font-size: 80px;
    font-family: fantasy;
    text-align: center;
    height: 100px;
}




.Input{
    background-color: #f0f0f0;
    color: #ffffff;
    height: 25px;
    width: auto;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Text {
    font-size: 50px;
    color: rgb(27, 27, 27);
    font-family: fantasy;
}

.Text_2 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: cursive;
}

.Login {
    background-color: rgb(27, 209, 255);
    cursor: pointer;
    width: fit-content;
    font-size: 50px;
    font-family: fantasy;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: background-color 1s;
}

.Login:hover {
    background-color: #fffb28;;
  }

.Line {
    border-bottom: 10px solid #2b2b2b;
    width: 1600px;
}

.AnotherLogin {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    width: fit-content;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 140, 255);
}