.chatbox {
  flex: 1;
  background-color: #686666;
  overflow: auto;
}

.chatbox-item{
  transition: top 1s opacity 1s display 1s width 1s height 1s;
}

.chatbox-item.left{
  text-align: left;
  margin-left: 24px;
}

.chatbox-item.right{
  text-align: right;
  margin-right: 24px;
}

.chatbox-item .avatar{
  display: inline-block;
}

.chatbox-item.right .avatar{
  display: none;
}

.chatbox-item-text {
  border: 2px solid #292929;
  background-color: #F8CBA7;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  display: inline-block;
  margin-left: 10px;
  border-radius: 25px;
}

.chatbox-item-avatar-text-line {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.chatbox-item.right .chatbox-item-avatar-text-line{
  display: block;
}

.test  {
  display: inline-flex;
  align-items: center;
}