button {
    padding: 20px 50px;
    font-size: 1.5em;
    cursor: pointer;
    border: 1px;
    background: transparent;
    position: relative;
    margin: 20px;
    transition: all 0.25s ease;
}

.button .btn-1:hover::after{
    width: 100%;
}

.button .btn-1::after{
    content: "";
    position: absolute;
    border-radius: inherit;
    width: 10px;
    height: 5px;
    background: #000;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all 0.25s ease;
    left: 50%;
    transform: translateX(-50%);
}