.avatar {
    width: 40px;
    height: 40px;
    align-items: center;
}

.avatarprofile {
    width: 100%;
    height: 100%;
    align-items: center;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatarprofile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}