
.BorderSetting01 {
    margin: auto;
    border: 3px solid rgb(255, 255, 255);
    padding: 10px;
}

.BorderSetting02 {
    margin: auto;
    padding: 10px;
}

.Title {
    background-color: rgb(232, 124, 152);
    color: white;
    height: 100px;
}

.TextBorder02 {
    background-color: rgb(255, 208, 208);
    color: white;
    height: 700px;
}
.TextBorder03 {
    background-color: rgb(232, 124, 152);
    color: white;
    height: 60px;
}

.LoginBorder {
    background-color: rgb(232, 124, 152);
    color: white;
    height: 40px;
}

.PictureBorder {
    background-color: rgb(232, 124, 152);
    color: white;
    height: 250px;
    width: 250px;
}

.TextSetting01 {
    font-family: fantasy;
    font-size: 30px;
}

.TextSetting02 {
    font-family: fantasy;
    font-size: 20px;
    text-align: right;
}

.TextSetting03 {
    font-family: fantasy;
    font-size: 30px;
    text-align: center;
}

.TextSetting04 {
    font-size: 30px;
    font-family: fantasy;
    text-align: left;
    margin-top: 5%;
}

.App {
  background-color: #ddffdd;
  width: 100%;
  height: 100%;;
  margin: auto;
  display: flex;
  flex-direction: column;
}


.userlist {
  flex: 1;
  background-color: #331a12;
}

.chat {
  flex: 12;
  background-color: silver;
}

.inputbox {
  flex: 1;
  background-color: gray;
  display: flex;
}

.inputbox .label1 {
  font-size: 1.5em;
  text-align: right;
}

.inputbox .text {
  font-size: 1em;
  padding-left: 8px;
  padding-right: 8px;
  flex: 1;
}

.inputbox .button {
  font-size: 1em;
  min-width: 40px;
}

.App {
    background-color: #ddffdd;
    width: 100%;
    height: 100%;;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.ChatSetting {
    
}