.chat{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ctop {
  height: 50px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: rgb(232, 124, 152);
  border: 3px solid rgb(255, 255, 255);
  color: white;
  font-size: 48px;
  font-family: fantasy;
}

.cmiddle {
  flex: 1;
  border-left: 3px solid rgb(255, 255, 255);
  border-right: 3px solid rgb(255, 255, 255);
  background-color: rgb(255, 208, 208);
  padding: 10px;
}

.cbottom {
  height: 50px;
  background-color: rgb(232, 124, 152);
  border: 3px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: right;
}

.inputbox {
  background-color: gray;
  display: flex;
  height: 50px;
  width: 100%;
}

.inputbox .label1 {
  font-size: 1.5em;
  text-align: right;
}

.inputbox .text {
  font-size: 1em;
  padding-left: 8px;
  padding-right: 8px;
  flex: 1;
}

.inputbox .button {
  font-size: 1em;
  min-width: 40px;
}