.LoginBoard{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.LTop {
    height: 50px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: rgb(232, 124, 152);
    border: 3px solid rgb(255, 255, 255);
    color: white;
    font-size: 48px;
    font-family: fantasy;
    text-align: center;
}

.LMiddle {
    background-color: rgb(255, 208, 208);
    border: 3px solid rgb(255, 255, 255);
    border-bottom: 3px;
    border-top: 3px;
    color: white;
    flex: 10;
    padding: 10px;
}

.LoginBorder {
    background-color: rgb(232, 124, 152);
    border: 3px solid rgb(255, 255, 255);
    color: white;
    height: 40px;
}

.PictureBorder {
    background-color: rgb(232, 124, 152);
    border: 3px solid rgb(255, 255, 255);
    color: white;
    height: 250px;
    width: 250px;
    margin: auto;
}

.TextSetting01 {
    font-family: fantasy;
    font-size: 30px;
    padding: 10px;
}

.TextSetting02 {
    font-family: fantasy;
    font-size: 20px;
    text-align: right;
    padding: 10px;
}
.TextSetting02 {
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.LBottomTab {
    height: 50px;
    background-color: rgb(232, 124, 152);
    border: 3px solid rgb(255, 255, 255);
}