.ProfileBoard{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.PB1 {
    flex: 3;
    border: 3px solid rgb(255, 255, 255);
    padding: 10px;
}


.Your {
    background-color: rgb(255, 208, 208);
    color: white;
    height: 250px;
}

.YourPicture{
    background-color: rgb(232, 124, 152);
    width: 180px;
    height: 180px;
    border: 10px solid rgb(255, 255, 255);
    margin-top: 25px;
    margin-left: 25px;
}

.Friends{
    background-color: rgb(232, 124, 152);
    color: white;
    font-family: fantasy;
    font-size: 30px;
    padding-top: 30px;
}

.MenuTitle {
    background-color: rgb(232, 124, 152);
    color: white;
    font-size: 80px;
    font-family: fantasy;
    text-align: left;
    height: 100px;
}

.List{
    background-color: rgb(255, 208, 208);
    height: 400px;
}

.TextSetting03 {
    font-family: fantasy;
    font-size: 30px;
    text-align: center;
}

.FriendsPicture{
    background-color: rgb(232, 124, 152);
    width: 50px;
    height: 50px;
    border: 5px solid rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: 20px;
}
