.profileboard{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ptop {
    height: 50px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: rgb(232, 124, 152);
    border: 3px solid rgb(255, 255, 255);
    color: white;
    font-size: 48px;
    font-family: fantasy;
}


.your {
    padding: 10px;
    flex: 1;
    border-left: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
    background-color: rgb(255, 208, 208);
    color: white;
}

.yourpicture{
    background-color: rgb(232, 124, 152);
    width: 180px;
    height: 180px;
    border: 5px solid rgb(255, 255, 255);
    float: left;
}

.friends{
    flex: 1;
    background-color: rgb(232, 124, 152);
    border: 3px solid rgb(255, 255, 255);
    color: white;
    font-family: fantasy;
    font-size: 48px;
    padding-left: 10px;
}

.list{
    background-color: rgb(255, 208, 208);
    border-left: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
    flex: 10;
    overflow-y: scroll;
}

.pbottomtab {
    height: 50px;
    background-color: rgb(232, 124, 152);
    border: 3px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.friendspicture{
    background-color: rgb(232, 124, 152);
    width: 50px;
    height: 50px;
    border: 5px solid rgb(255, 255, 255);
    align-items: center;
}

.friendsflex{
    margin: 20px;
    display: flex;
    align-items: center;
}

.yourname{
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.friendsname{
    font-family: fantasy;
    margin-left: 10px;
}
