.titlebar {
    height: 50px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: rgb(232, 124, 152);
    border: 3px solid rgb(255, 255, 255);
    color: white;
    font-size: 48px;
    font-family: fantasy;
  }

  .titlebar .backbutton{
    display: inline-block;
    text-align: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 1s;
  }

  .titlebar .name{
      float: right;
  }