.chatbox {
    flex: 1;
    border-left: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
    background-color: rgb(255, 208, 208);
    padding: 10px;
    overflow: auto;
    flex-direction: column-reverse;
    display: flex;
  }
  
  .chatbox-item{
    transition: top 1s opacity 1s display 1s width 1s height 1s;
  }
  
  .chatbox-item.left{
    text-align: left;
    margin-left: 24px;
  }
  
  .chatbox-item.right{
    text-align: right;
    margin-right: 24px;
  }
  
  .chatbox-item .avatar{
    display: inline-block;
  }