body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #ffb951;
}

.topnav-right {
  float: right;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f3b07a;
  color: black;
}

.topnav a.active {
  background-color: #943400;
  color: #ffdca8;
}

.topnav b {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav b:hover {
  background-color:  #f3b07a;
  ;
  color: black;
}

.topnav b.active {
  background-color: #b1864e;
  color: white;
}

.topnav c{
  float: left;
  display: block;
  padding: 14px 18%;
}

.topnav icon{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav icon:hover {
  background-color: #f3b07a  ;
  color: black;
}

.topnav icon.active {
  background-color: #b1864e;
  color: white;
}




@media screen and (max-width: 600px) {
 
  .topnav a{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav b{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}