.background {
  background-color: #ffffff;
  width: 100%;
  height: 100%;;
  margin: auto;
  display: flex;
  flex-direction: column;
}


.head.fuction {
  flex: 1;
  background-color: #b08051;
}

.chat.function {
  flex: 2;
  background-color: #d9b490;
}

.functionUI {
  flex: 10;
  background-color: #eeeee4;
  display: flex;
}