.chat {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chatbox {
  flex: 12;
  background-color: rgb(254, 255, 240);
}

.inputbox {
  flex: 1;
  background-color: rgb(93, 205, 233);
  display: flex;
}

.inputbox .label1 {
  font-size: 1.5em;
  text-align: right;
}

.inputbox .text {
  font-size: 1em;
  padding-left: 8px;
  padding-right: 8px;
  flex: 1;
}

.inputbox .button {
  font-size: 1em;
  min-width: 40px;
}