.option{
  margin:auto;
  position:absolute;
    width: 100px;
    height: 100px;
  left: 10px;
  bottom: 150px;
  background-color: #e3d786;
  border-radius: 10px;
  
}

.option.closed {
  transition: background-color 2s width 2s left 2s;
display: none;
  }

.option.open {
    width: 200px;
    height: 200px;
    background-color:#9d9d9d;
    transition: background-color 2s width 2s left 2s;
  }

  .option .close-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
    background-color: azure;
    border: #79b4b7 1px solid;
    border-radius: 50%;
    float: right;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .option .close-button:hover {
    background-color: #fefbf3;
  }

  
    .option .close-button {
      display: none;
    }
  

.option.icon.open{

    width: 20px;
    height: 20px;

}
.option.icon.closed{
    display: none;
}