.chat {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex:4;
}

::-webkit-scrollbar {
  width: 16px;
  transition: background-color 0.5s;
}

/* Track */
::-webkit-scrollbar-track {
  background: #feefec;
  height: 70%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #f5cec7;
  border-radius: 10px;
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #e79796;
  border: 6px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}