.friend-list {
  flex:1;
  text-decoration:none;
  overflow: hidden;
}

.friend-list-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  text-decoration:none;
  font-weight: bold;
  font-family: sans-serif;
  border-bottom-left-radius: 50px;
  line-height: 40px;
  border-bottom: 3px solid #fae0dc;
  cursor: pointer;
}

.friend-list .list{
  display: flex;
  flex-direction: column;
}

.friend-list .username{
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #bc4b46;
  text-decoration:none;
}

.friend-list .username{
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #bc4b46;
  text-decoration:none!important;
  transition: 0.5s;
}

.friend-list .username:hover{
  color: #e89a99;
}

