.App {
  background-color: #eae0d6;
  width: 100%;
  height: 100%;;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.App .content {
  flex: 1;
}


.userlist {
  flex: 1;
  background-color: #331a12;
}

