.chat {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .chatbox {
    flex: 12;
    background-color: rgb(254, 255, 240);
  }