.App {
  background-color: rgb(250, 207, 243);
  width: 400px;
  height: 100%;
  margin: auto;
}

 .userlist{
  background-color: rgb(177, 20, 164);
  width: 100%;
  height: 10%;
 }

 .chat{
  background-color: rgb(12, 28, 170);
  height: 80%;
  width: 100%;
  margin: auto;

 }

 .inputbox{
  background-color: rgb(177, 20, 164);
  height: 10%;
  width: 100%;
  margin: auto;


 }
