.App {
  background-color: #1E4E8A;
  width: 100%;
  height: 100%;;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.App .content {
  flex: 1;
<<<<<<< HEAD:HungryGuys/src/css/App.css
  top: 0px;
=======
  top: 50px;
>>>>>>> a0bae496c89571d08ceb4c7ed326ba43fe1c600e:ONM(One Night Miracle)/src/css/App.css
  bottom: 0px;
  position: absolute;
  width: 100%;
  overflow: auto;
  display: flex;
}

