.chatbox {
  flex: 1;
  background-color: #1E4E8A;
  color: white;
  overflow: auto;
}

.chatbox-item{
  transition: top 1s opacity 1s display 1s width 1s height 1s;
  margin-top: 10px;
}

.chatbox-item.left{
  text-align: left;
  margin-left: 24px;
}

.chatbox-item.right{
  text-align: right;
  margin-right: 24px;
}

.chatbox-item .avatar{
  display: inline-block;
}
