.titlebar {
  height: 100px;
  /*background-color: #d27aec;*/
  background-image: url('/public/titlebarbg.png');
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(0, 0, 0);
}

.titlebar .titlebar-text-align{
  font-size: 1.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 1.5em;
}