.App {
  background-color: #eeeee4;
  width: 100%;
  height: 100%;;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.App .content {
  flex: 1;
  top: 0px;
  bottom: 50px;
  position: absolute;
  width: 100%;
  overflow: auto;
  display: flex;
}

.head{
  font-family: 'IBM Plex Sans Thai', sans-serif;
  background-color: #d9b490 ;
  color: white;
  text-align: center;
  font-size: 35pt;
  margin-bottom: 10%;
}

