.chatbox {
  flex: 1;
  background-color: #acacac;
  overflow: auto;
  color: #949494;
}

.chatbox-item{
  padding-top: 10px;
  padding-bottom: 10px;
  word-break: break-all;
}

.chatbox-item.left{
  text-align: left;
  margin: 10px;
}

.chatbox-item.right{
  text-align: right;
  margin: 10px;
}

.chatbox-item-user.left{
  display: flex;
  flex-direction: row;
  font-size: 30px;
}

.chatbox-item-user.right{
  display: flex;
  flex-direction: row-reverse;
  font-size: 30px;
}

.chatbox-item-user .txt{
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.chatbox-item-text.left{
  font-size: 35px;
  background-color: #ffffff;
  color:rgb(24, 24, 24);
  padding: 10px;
  border-radius: 10px;
}

.chatbox-item-text.right{
  font-size: 35px;
  background-color: #ffffff;
  color: rgb(24, 24, 24);
  padding: 10px;
  border-radius: 10px;
  
}

.chatbox-item .User{
  color: #3a3a3a;
}

.chatbox-item .avatar{
  display: inline-block;
}
