.chatbox {
  flex: 1;
  background-color: #d9b490;
  overflow: auto;
}

.chatbox-item{
  transition: top 1s opacity 1s display 1s width 1s height 1s;
}

.chatbox-item.left{
  text-align: left;
  margin-left: 24px;
}

.chatbox-item.right{
  text-align: right;
  margin-right: 24px;
}

.chatbox-item .avatar{
  display: inline-block;
}
.chatbox-item .username{
  margin: 5px;
  text-align: center;
  background-color: #b08051;
  color: white;
  border-radius: 25px;
  max-width: 80px;
  min-height: 30px;
}
.chatbox-item .text{
  text-align: center;
  background-color: #eeeee4;
  color: black;
  border-radius: 25px;
  max-width: 50%;
  min-height: 30px;
}
