
.BorderSetting01 {
    margin: auto;
    border: 3px solid rgb(255, 255, 255);
    padding: 10px;
}

.BorderSetting02 {
    margin: auto;
    padding: 10px;
}

.Title {
    background-color: rgb(232, 124, 152);
    color: white;
    font-size: 80px;
    font-family: fantasy;
    text-align: center;
    height: 100px;
}

.TextBorder02 {
    background-color: rgb(255, 208, 208);
    color: white;
    height: 700px;
}
.TextBorder03 {
    background-color: rgb(232, 124, 152);
    color: white;
    height: 60px;
}

.LoginBorder {
    background-color: rgb(232, 124, 152);
    color: white;
    height: 40px;
}

.PictureBorder {
    background-color: rgb(232, 124, 152);
    color: white;
    height: 250px;
    width: 250px;
}

.TextSetting01 {
    font-family: fantasy;
    font-size: 30px;
}

.TextSetting02 {
    font-family: fantasy;
    font-size: 20px;
    text-align: right;
}

.TextSetting03 {
    font-family: fantasy;
    font-size: 30px;
    text-align: center;
}