.tabbar {
  font-family: 'IBM Plex Sans Thai', sans-serif;
  height: 50px;
  background-color: #d9b490;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tabbar .tabbutton {
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  color: white;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  
}

.tabbar .tabbutton:hover {
  background-color: #b08051;;
  border-radius: 25px;
}

.tabbar.stick-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.tabbar.stick-top {
  position: absolute;
  top: 0px;
  width: 100%;
}

.tabbar.stick-left {
  position: absolute;
  left: 0px;
  height: 100%;
  flex-direction: column;
}

.tabbar.stick-right {
  position: absolute;
  right: 0px;
  height: 100%;
  flex-direction: column;
}