.tabbar {
  background-color: #9c9c9c;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tabbar .tabbutton {
  display: inline-block;
  text-align: center;
  
  font-size: 2.4em;
  height: 100px;
  
  color: #00386A;
  margin: 1px;
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 1s;
}

.colorblue{
  color: #00386A;
}
.colorgray{
  color: #696969;
}
.colorwhite{
  color: #ffffff;
}

.tabbar .tabbutton:hover {
  background-color: #747474;;
}

.navbar-center {
  position: absolute;
    left: 50%;
    transform: translatex(-50%);
}