.SignIn
{
    text-align: justify;
    text-transform: uppercase;
    font-size-adjust: 1.58;   
    width: 970px;
    height: 444px;
    background-image: url(GGez Chat app.png);
    background-repeat: no-repeat;
    background-position: center;
}