.friend-list-item {
  
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 3px solid #feffbe;
  cursor: pointer;
}

.friend-list-bg{
  background-color: rgb(247, 247, 199);
}

.friend-list-text-align{
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
}