.home {
    display: flex;
    background-color: #ffd3be;
    

    

}
.dog{
    background-color: chocolate;
    display: flex;
    width: 170px;
    height: 30px;
    font-size: 1.25em
    
}
.box{
    background-color: rgb(243, 128, 75);
    display: flex;
    text-align: left;
    font-size: large;
    
    
    
}