body{
    background-color: #b08051;
}

.GreenBox {
    background-color:#7cbc00;
    width: 60px;
    height: 60px;
    border-radius: 10%;
    text-align: center;
    
}
  
.Space {
    display: flex;
    justify-content: space-between;
    border: 20px solid #eeeee4;
}