.chatbox-item.left{
  margin-top: 1.2em;
  text-align: left;
  margin-left: 24px;
}

.chatbox-item.right{
  text-align: right;
  margin-right: 24px;
}

.chatbox-item .avatar{
  display: inline-block;
}
