.App {
  background-color: silver;
  width: 100%;
  height: 100%;;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex: auto;
}

.App .content {
  flex: auto; 
  width: auto;
  height: auto;
  
}


.userlist {
  flex: 1;
  background-color: #a8a8a8;
  width: 100%;
}

