.chatbox-item.left{
  text-align: left;
  margin-left: 24px;
  
}

.chatbox-item.right{
  text-align: right;
  margin-right: 24px;
}


.chatbox-item .msg {
  border-radius: 25px;
  background-color: #82ccdd;
  padding: 10px;
  width: max-content;

}

.chatbox-item .avatar{
  display: inline-block;
  border-radius: 50%;
  border: solid 3px #29b457;
  background-color: #e5e5e5;
}
.colorblue{
  color: #00386A;
}
.colorgray{
  color: #696969;
}
.colorwhite{
  color: #ffffff;
}
