.tabbar {
  
  background-color: #9c9c9c;
  display: flex;
  justify-content: space-evenly;
  width: 100px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  flex: auto;
  flex-direction: column;
  
  
}

.tabbar .tabbutton {
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  color: white;
  margin: 4px;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 1s;
}

.tabbar .tabbutton:hover {
  background-color: #747474;;
}