.friend-list {
  flex:1;
  width: auto;
}

.friend-list-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  background-color: rgba(133, 133, 133, 0.295);
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 100px;
  border-right: 10px solid rgb(66, 66, 66);
  border-bottom: 10px solid rgb(66, 66, 66);
}

.friendName
{
  margin-left: 10px;
}