.friend-list-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: #696969;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  flex: auto;
  margin: auto;
  width: 90%;
  
}

.video-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  width: 40%;
}
.colorblue{
  color: #00386A;
}
.colorgray{
  color: #696969;
}
.colorwhite{
  color: #ffffff;
}
a{
  text-decoration: none;
  
}