.App {
  background-color: #bbbbbb;
  width: 100%;
  height: 100%;;
  margin: auto;
  display: flex;
  flex-direction: column;
}
  
.App .content {
  flex: 1;
  top: 0px;
  bottom: 60px;
  position: absolute;
  width: 100%;
  overflow: auto;
  display: flex;
}