.chatbox-item.left{
    text-align: left;
    margin-left: 24px;
  }
  
  .chatbox-item.right{
    text-align: right;
    margin-right: 24px;
  }
  
  .chatbox-item .avatar{
    display: inline-block;
  }

  .chatbox{
    height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
    max-height: 80vh;
  }