.tabbar {
  height: 50px;
  background-color: #a0a0a0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tabbar .tabbutton {
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  color: rgb(7, 6, 6);
  margin: 0 5px;
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 1s;
}

.tabbar .tabbutton:hover {
  background-color: #0d7e53;;
}