body {
    background-color: #1E4E8A;
    width: 100%;
    height: 100%;;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.head {
    background-color: #F79356;
    width: 100%;
    height: 50px;
    text-align: center;
    flex: 1.5;
}

.middle {
    background-color: #1E4E8A;
    width: 100%;
    height: 500px;
    text-align: center;
    flex: 12;
}

.bottom {
    background-color: #F79356;
    width: 100%;
    height: 50px;
    text-align: center;
    flex: 1.5;
}