.App {
  background-color: #c7c7c7;
  width: 400px;
  height: 100%;;
  margin: auto;
}

.userlist {
  background-color: #f08484;
  width: 100%;
  height: 5%;
  text-align: center;
  margin: auto;
}

.chat {
  background-color: #c7c7c7;
  width: 100%;
  height: 90%; 
  text-align: left;
  margin-left: auto;

}

.inputbox {
  background-color: #cc9f9f;
  width: 100%;
  height: 5%;
  margin: auto;
}