.App {
  background-color: #9eddfa;
  width: 400px;
  height: 100%;;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.userlist {
  flex: 1;
  background-color: #faf16d;
}

.chat {
  flex: 12;
  background-color: rgb(255, 248, 188);
}

.inputbox {
  flex: 1;
  background-color: rgb(250, 200, 108);
}

@media screen and (max-width: 768px) {
   /* .App {
     border: red 5px solid;
     
   } */
   .userlist {
     background-color: #e9b478;
   }
   
   .chat {
     background-color: rgb(226, 215, 205);
   }
   
   .inputbox {
     background-color: rgb(206, 184, 150);
   }
  
 }
 
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}