.chat {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex:4;
}



.inputbox {
  display:flex;
  background-color: #222222;
  height: 50px;
}

.inputbox .label1 {
  font-size: 1.5em;
  text-align: right;
}

.inputbox .text {
  font-size: 1em;
  padding-left: 8px;
  padding-right: 8px;
  flex: 1;
  margin: 10px;
  border-radius: 100px;
  background-color:white;
}

.inputbox .button {
  font-size: 1.25em;
  min-width: 40px;
  margin: 10px;
}