.body-friends {
    background-color: #1E4E8A;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.title-friends {
    background-color: #F79356;
    text-align: center;
    font-size: 2em;
    flex: 1.5;
    color: white;
}

.list-friends {
    background-color: #1E4E8A;
    text-align: center;
    color: white;
    flex: 12;
}

.icon-friends {
    background-color: #F79356;
    text-align: center;
    color: white;
    flex: 1.5;
}

.friend-list-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
  }