.friend-list {
  background-color: #d9b490;
  flex:1
}

.friend-list-item {
  font-size: 20pt;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 5px solid #b08051;
  cursor: pointer;
}

.friendhead{
  font-family: 'IBM Plex Sans Thai', sans-serif;
  background-color: #b08051;
  color: white;
  font-size: 40pt;
  text-align: center;
}

.friendname{
  font-family: 'IBM Plex Sans Thai', sans-serif;
  margin: 15px;
}