.tabbar {
  height: 50px;
  background-color: #ff8944;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tabbar .tabbutton {
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  color: white;
  margin: 0 5px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 1s;
}

.tabbar .tabbutton:hover {
  background-color: #ff2104;;
}