.avatar {
  width: 75px;
  height: 75px;
  border-radius: 25%;
  border: solid 1px rgb(0, 0, 0);
  background-color: rgb(139, 235, 235);
  overflow: hidden;
}

.avatar.small {
  width: 40px;
  height: 40px;
}